$color-text: #202035;
$color-header: #1f1f3a;
$color-primary: #1f1f3a;
$color-contrast: #fff;
$color-cta: #3f52e3;
$color-background: #f9f7f7;
$color-light: #fff;
$color-content: #f9f7f7;
$color-border: #e5e3e3;;
$size-radius: 5px;
$font-default: Courier, monospace, sans-serif;
